p.ex {
    margin: 15px;
}
ul.ex {
    margin: 10px;
}
.aligncenter{
    text-align: center;
}
.alignleft{
    text-align: left;
}
a::before{

    /* content: "\21d2"; */
    font-weight: bold;
}
p::selection {
    color: red;
    background-color:yellow;
}
#para{
    text-align:center;
    color:red;
    font-weight:bold;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (min-width: 500px) {
    body{
        background-color : yellowgreen;
    }
}
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@media (max-width:499px) {
    body {
        background-color: rebeccapurple;
    }
}
.round  {
    border-radius: 100%;
    width: 15%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}
.rc  {
    border-radius: 100%;
    width: 35%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}
.rc1  {
    border-radius: 100%;
    width: 25%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}
.rc2  {
    border-radius: 100%;
    width: 25%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}.rc3 {
    border-radius: 100%;
    width: 35%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}.rc4 {
    border-radius: 100%;
    width: 45%;
    float: left;
     margin-left: 20px;
     margin-bottom: 20px;
    padding-right: 20px; 

}